# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\evkaryag\IdeaProjects\milkCRM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
target/
